body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

nav {
  background-color: #e3f2fd;
}

.form-container {
  max-width: 680px;
}

.page-footer {
  background-color: #009688;
  color: white;
}

.page-footer .footer-info {
  padding: 20px 40px;
}

.page-footer a {
  text-decoration: none;
  color: white;
}

.page-footer .contact-info address i.fa {
  color: #FAC664;
  display: inline-block;
}

.page-footer .social-media {
  text-align: center;
}

.page-footer .social-media a {
  font-size: 1.6rem;
  padding: 10px;
}

.page-footer .social-media .fa-facebook:hover {
  color: cornflowerblue;
}

.page-footer .social-media .fa-youtube:hover {
  color: crimson;
}

.page-footer .social-media .fa-instagram:hover {
  color: plum;
}

.page-footer .footer-copyright {
  padding: 20px 0px;
  background-color: #00786D;
  color: white;
}

.container-fluid {
  min-height: 80vh;
  margin-top: 70px;
  padding-bottom: 20px;
}

.form-property, #register-form, #login-form, #reset-password-form {
  max-width: 520px;
  margin: 20px auto;
  float: none;
}

.btn-login-register {
  color: white;
  padding: 10px 15px;
  text-align: center;
  background-color: #009688;
  margin-top: 20px;
}

.pizza-delivered {
  background-color: darkslategrey;
  color: white;
}

.pizza-still-in-progress {
  background-color: aliceblue;
}

.orders-page-pizzas-info .card {
  margin: 15px 0px;
}

.orders-page-pizzas-info .card .card-body {
  height: 400px;
  padding: 0px;
}

.orders-page-pizzas-info .card .card-body h5 {
  padding: 15px 0px;
  background-color: rgba(0, 0, 0, 0.3);
}

.orders-page-pizzas-info .card a.text-right {
  padding: 10px;
  margin: 5px 10px;
  font-size: larger;
  font-weight: 600;
  color: chocolate;
}

.container.pizza-details form {
  width: 480px;
  margin: 20px auto;
}

.container.pizza-details form textarea {
  height: 6rem;
}

.container.pizza-details form .btn {
  margin: 20px;
}

.container.pizza-details form .deliveryPlace {
  min-width: 400px;
  padding: 10px 5px;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 1px;
  border: 2px solid gainsboro;
  border-radius: 10px;
  background-color: white;
  -webkit-box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.container.pizza-details form .deliveryPlace:focus {
  outline-width: 0;
}

.main-page header {
  margin: 50px 0px;
  font-family: 'Lobster', cursive;
}

.main-page .row {
  margin-top: 150px;
}

.main-page .row .col-md-4 {
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  background-position: center;
  background-size: cover;
  padding: 0px;
  width: 30%;
  margin: 0px auto;
  border: 2px solid transparent;
  background-clip: padding-box;
}

.main-page .row .col-md-4:first-child {
  margin-left: 0px;
  background-image: url("../images/our-menu-pizza.png");
}

.main-page .row .col-md-4:nth-child(2) {
  background-image: url("../images/delivery-guy.png");
}

.main-page .row .col-md-4:last-child {
  margin-right: 0px;
  background-image: url("../images/promotion.png");
}

.main-page .row .col-md-4 h3 {
  text-transform: uppercase;
  padding: 5px 0px 10px 0px;
  color: white;
  font-weight: 600;
  font-family: 'Lobster', cursive;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-page .row .col-md-4 a {
  position: absolute;
  bottom: 15px;
  right: 15px;
}

.StripeElement {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px 0 #e6ebf1;
          box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  -webkit-transition: -webkit-box-shadow 150ms ease;
  transition: -webkit-box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease, -webkit-box-shadow 150ms ease;
}

.StripeElement--focus {
  -webkit-box-shadow: 0 1px 3px 0 #cfd7df;
          box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#payment-form button {
  width: 100%;
  margin: 20px auto;
}

@media (max-width: 767px) {
  .main-page .row {
    margin-top: 50px;
  }
  .main-page .row .col-md-4 {
    margin: 20px auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */